/* General */
a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

html {
    padding: 0; margin: 0;
    height: 100%;
}
body {
    padding: 0; margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    min-height: 100%;
    background-color: rgba(33, 37, 41, 1);
}
.navigation {
    display: flex; justify-content: left; align-items: center;
    padding: 0; margin: 0;
    width: 100%;  height: 80px;
    background-color: rgba(20, 22, 33, 0.9);
    text-align: left;
}
.navigation h1 {
    margin-left: 20%;
    display: block; padding: 0;
    font-weight: 800;
}
.navigation h1 a {
    color: #00d2ff;
}
.navigation h1 a:hover {
    color: #00d2ff;
    padding: 0; margin: 0;
}

/* Home */
#home {
    width: 100%;
    height: 60px;
    background: #1c1c1c;
    display: flex; justify-content: left; align-items: center;
    font-size: 20px;
}
#home a {
    color: ghostwhite; margin-left: 21%;
}
#movie-name {
    color: white; font-size: 20px;
}

/* Cover */
#over {
    padding: 0; margin: 0;
}
.movieinfo {
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 600px;
    padding: 40px 20px;
    box-sizing: border-box;
    animation: animateMovieinfo 1s;
}
@keyframes animateMovieinfo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.movieinfo-content {
    display: flex;
    max-width: 1280px;
    margin: 0 auto; padding: 0;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}
#over .row:nth-child(2) {
    height: 85%; width: 70%;
    position: relative; left: 30%; top: 5%;
    margin: 0; padding: 0;
    display: flex; justify-content: left; flex-direction: column;
}
.movieinfo-poster {
    width: 27%;
    height: 100%;
    position: absolute; top: 0; left: 0;
    padding: 0; margin: 0;
}
.movieinfo-poster .movieposter {
    height: 100%;
}
.movieinfo-poster .movieposter img {
    width: 100%; height: 100%;
}

.movieinfo-text {
    max-height: 90%; max-width: 95%;
    padding: 0; margin: 0;
    color: #fff; display: flex; justify-content: left; flex-direction: column;
}

#movieinfos {
    max-height: 90%;
    max-width: 100%;
    display: flex; flex-wrap: wrap; justify-content: space-between;
    padding: 5% 40px 40px 0; margin: 0;
}
.movieinfo-text .titleu {
    display: inline;
}
.movieinfo-text .titleu span {
    font-size: 30px; display: inline;
}
.movieinfo-text .title {
    font-weight: 600;
}
.movieinfo-text .info {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
}
.movieinfo-text .info .dot {
    display: inline-block; position: relative; top: -2px;
    height: 4px; width: 4px;
    background-color: white;
    border-radius: 50%;
}
.tags { display: block;
    margin: 1% 0 1%; padding: 0;
    color: darkgrey; font-style: italic;
}
.movieinfo-text .plot {
    margin-bottom: 2%; margin-top: 2%; font-size: 20px; font-weight: 600;
}
.movieinfo-text p.over{
    font-size: 15px;
}
.movieinfo-text1 {
    margin: 0; padding: 0;
    display: flex; align-content: center;
    color: white;
}
.movieinfo-text1 div {
    margin-top: 5%;
}
.movieinfo-text1 .dir {
    margin: 0; padding: 0;
}
.movieinfo-text1 .prod {
    margin: 0; padding: 0;
}
.movieinfo-text1 .director {
    margin: 0; padding: 0;
}
.movieinfo-text1 .director .directors {
    margin: 0; font-weight: 600;
}
.movieinfo-text1 .producer {
    margin: 0; padding: 0;
}
.movieinfo-text1 .producer .producers {
    margin: 0; padding: 0; font-weight: 600;
}
.movieinfo-text2 {
    padding: 0;   margin: 0;
    display: flex; align-content: center;
    color: white;
}
.movieinfo-text2 div {
    margin-top: 5%;
}
.movieinfo-text2 .budget {
    width: 50%; margin: 0;
    display: flex; flex-direction: column;
}
.movieinfo-text2 .revenue {
    width: 50%; margin: 0; padding: 0;
    display: flex; flex-direction: column;
}
.movieinfo-text2 div p { padding: 0;
    margin: 0;
}
.movieinfo-text2 div p:first-of-type {
    margin: 0 0 0 1%; padding: 0;
    font-weight: 600;  width: 100%;;
}
.movieinfo-text h1 {
    font-size: 48px;
    margin: 0;
}

.movieinfo-text h3 {
    font-size: 16px;
    line-height: 0;
    margin-top: 30px;
    margin-bottom: 10px;
}

.movieinfo-text p {
    font-size: 18px; line-height: 26px;
}
#homepage {
    display: flex; justify-content: left; align-content: center;
    padding: 0; margin: 0;
}
#homepage a {
    color: white;
}
#homepage a:hover {
    color: gold;
}
#homepage p {
    width: 150px;
}

#actors {
    margin: 0 auto; padding: 0 0 0 10%;
    display: flex; justify-content: left; align-items: center; flex-wrap: wrap;
}


/* Crew */
#crews {
    padding: 0;
    display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
}
#crews h1 {
     width: 100%; color: #00d2ff; padding: 0;
     font-size: 30px; margin: 1% 0 0 21%;
 }
#crews .crew-act {
    display: flex; justify-content: center; align-items: center;
    width: 200px; height: 400px;
    margin: 2%;
    border: 1px solid rgba(211,211,211, 1);
    box-shadow: 0 2px 8px rgba(238,238,238, 1);
}
#crews .crewimg {
    width: 100%; height: 100%;
}
#crews .crewimg div { margin: 0; padding: 0;
    width: 100%; max-height: 300px;
}
#crews .crewimg div img {
    max-width: 100%; max-height: 100%;
}
#crews .crew-name {
    display: block;
    font-size: 16px; font-weight: 600;
    color: white;
    margin: 5% 0 0 2%; padding: 0;
}
#crews .crew-character {
    font-size: 14px;
    color: white;
    margin: 0 0 0 2%; padding: 0;
}


/* Actors */
#actors {
    padding: 0;
    display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
}
#actors h1 {
    width: 100%; color: #00d2ff; padding: 0;
    font-size: 30px; margin: 1% 0 0 21%;
}
.actori {
    display: flex; justify-content: center; align-items: center;
    width: 200px; height: 400px;
    margin: 2%;
    border: 1px solid rgba(211,211,211, 1);
    box-shadow: 0 2px 8px rgba(238,238,238, 1);
}

.actorimg {
    width: 100%; height: 100%;
}
.actorimg div { margin: 0; padding: 0;
    width: 100%; max-height: 300px;
}
.actorimg div img {
    max-width: 100%; max-height: 100%;
}

#actors .actor-name {
    display: block;
    font-size: 16px; font-weight: 600;
    color: white;
    margin: 5% 0 0 2%; padding: 0;
}

#actors .actor-character {
    font-size: 14px;
    color: white;
    margin: 0 0 0 2%; padding: 0;
}


/* Footer */
footer {
    display: flex; justify-content: center; align-items: center;
    position: relative; bottom: 0; left: 0; right: 0;
    padding: 0; margin: 0;
    width: 100%; height: 60px;
    background-color: rgba(20, 22, 33, 1);
}

footer p {
    color: #00d2ff; font-weight: 600;
    padding: 0; margin: 0;
}

* .view-more {
    color: #00d2ff;
    margin: 0 0 0 2%; padding: 0;
}
* .view-more a {
    width: 100%;
}
* .view-more a:hover {
    cursor: pointer;
}
* .view-more a:hover,  .view-more a:visited {
    text-decoration: none;
    outline: none;
}


/* Media Queries*/

/* Extra small*/
@media (max-width: 575.98px) {
      .movieinfo-content {
            display: none;
      }
}

/* Small*/
@media (min-width: 576px) and (max-width: 767.98px) {
     .movieinfo-poster {
            display: none;
     }
    #over .row:nth-of-type(2) {
        width: 95%;
        left: 5%;
    }
    .movieinfo-text2 .revenue {
        margin-left: 5%;
    }
}
